@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NowAlt";
  src: url("/fonts/NowAlt-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #463A93;
  --color-secondary: #ffffff;
  --color-secondary-50: #E7DEFD;
  --color-secondary-100: #49484C;
  --color-neutral: #1C1C1E;
  ;
}

body {
  color: var(--color-neutral);
  background: var(--color-secondary);
}
