@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #463A93;
  --color-secondary: #ffffff;
  --color-secondary-50: #E7DEFD;
  --color-neutral: #1C1C1E;
  ;
}

body {
  color: var(--color-neutral);
  background: var(--color-secondary);
}
